/* Media query untuk tampilan ponsel (max-width: 768px) */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .nav-left,
  .nav-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-left .logo {
    display: flex;
    align-items: center;
  }

  .logo h1 {
    font-size: 14px; /* Ubah ukuran font sesuai kebutuhan Anda */
  }

  .nav-right .user-profile {
    display: flex;
    align-items: center;
  }

  .profile-img {
    width: 30px; /* Sesuaikan ukuran gambar profil sesuai kebutuhan Anda */
    height: 30px; /* Sesuaikan ukuran gambar profil sesuai kebutuhan Anda */
    margin-right: 5px; /* Sesuaikan margin sesuai kebutuhan Anda */
  }

  .user-name {
    font-size: 12px; /* Ubah ukuran font sesuai kebutuhan Anda */
  }
}
